@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
*@
@{
}
@using Q2.Models
@model List<Project>

<h1>List of projects</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>action</th>
        </tr>

    </thead>
    <tbody>
        @foreach (Project item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Type</td>
                <td><a asp-controller="Project" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
