* {
    margin: 0px;
    padding: 0px;
}

.no-padding-margin {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(215, 214, 214, 0.556)
}

@media screen and (max-width: 1000px) {
    .nav-search {
        margin: 15px 0px;
    }
}


.header {
    background-color: #6497b1;
}

.header ul {
    list-style-type: none;
}

.header ul li a {
    display: inline-block;
}

.navbar {
    /* background-color: #005b96; */
    background: linear-gradient(to right,#9370DB, #87CEEB);
    padding: 13px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
}

.nav-search input {
    margin: 0px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid white;
}

.nav-search button {
    border: 2px solid white;
    border: 2px 2px 2px 0px
}

.navbar-list-option-mid ul {
    display: flex;
    justify-content: center;
}

.navbar-list-option-mid ul li i {
    font-size: 26px;
    padding: 0px 45px;
    color: white;
}

.navbar-list-option-mid ul li i:hover {
    color: rgba(0, 0, 0, 0.777);
}

.navbar-list-option-right li {

    display: inline-block;
}

.navbar-list-option-right {
    position: absolute;
    right: 10px;
    top: 15px;
}

.navbar-list-option-right ul {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto auto;
    justify-content: right;
    padding-right: 20px;
}

.navbar-list-option-right ul li i {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.777);
}

.navbar-list-option-right ul li a {

    background-color: white;

    border-radius: 50%;
    width: 40px;
    height: 39px;
    text-align: center;
}

.navbar-list-option-right ul li a:hover {
    background-color: rgba(215, 214, 214, 0.698);
}

.navbar-list-option-left input {
    width: 100%;
}

.navbar-list-option-left {
    display: inline-block;
}

.navbar-list-option-left img {
    width: 25%;
    border-radius: 50%;
    margin-right: 20px;
}

.body-content {
    padding-top: 70px;
    width: 100%;

}

.content-post {
    display: flex;
    justify-content: center;

}

.status-post {
    display: inline-block;
    width: 70%;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

.status-post form img {
    width: 10%;
    border-radius: 50%;
    margin-right: 10px;
}

.status-post input {
    width: 80%;
    border: none;
    background-color: rgba(215, 214, 214, 0.698);
    border-radius: 30px;
    height: 40px;
    padding: 0px 20px;
}

.status-option {
    display: flex;
    justify-content: center;
}

.status-option a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: inline-block;
    margin: 0px 10%;
}

.status-option a i {
    color: #000;
}

.status-option a i:hover {
    text-decoration: dashed;
    color: rgba(0, 0, 0, 0.777);
    font-size: 20px;
    border-bottom: 1px solid #b3cde0;
}

.status-option span {
    font-family: 'Times New Roman', Times, serif;
}

.body-content-left img {
    width: 20%;
    border-radius: 50%;
    margin-right: 10px;
}

.body-content-left div a {
    color: black;
    text-decoration: none;
}

.body-content-left div a i {
    font-size: 20px;
    padding: 15px 20px;
    color: rgba(0, 0, 0, 0.777);
    width: 25%;
}

.body-content-left div {
    margin: 20px 0px;
}

.body-content-left div a:hover {
    background-color: rgba(215, 214, 214, 0.698);
}

.body-content-left {
    background-color: rgba(255, 255, 255, 0.385);
    padding-top: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
}

.body-content-left div a {
    width: 100%;
    display: block;
}

.body-content-left-avatar {
    color: black;
    padding: 5px 0px 5px 10px;
}

@media screen and (max-width: 1000px) {
    .body-content-left {
        display: none;
    }
}

.status-post-1 {
    display: inline-block;
    width: 70%;
    background-color: white;
    padding: 20px 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

@media screen and (max-width: 700px) {
    .status-post-1 {
        width: 100%;

    }
}

@media screen and (max-width: 700px) {
    .status-post {
        width: 100%;

    }
}

.status-post-1 p {
    padding: 10px 30px 0px 30px;
    font-size: 130%;
}

.status-post-1 img {
    width: 9%;
    height: 9%;
    border-radius: 50%;
}

.post-img img {
    width: 100%;
    border-radius: 0%;
}

.status-post-1-header {
    margin-left: 30px;
}

.status-post-1-header img {
    margin-left: 3.7%;
    margin-right: 100%;
}

.status-post-1 img {
    margin: 0px;
    width: 100%;
}

.status-post-1 .button-add-freind{
    background-color: blue;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    margin-left: 30px;
    transition: transform 0.3s ease-in-out;

}

.status-post-1 .button-delete{
    background-color: red;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    margin-left: 30px;
    transition: transform 0.3s ease-in-out;
}

.status-post-1 .button-add-freind:hover {
    background-color: rgba(0, 0, 255, 0.7);
    transform: scale(1.1);
}
.status-post-1 .button-delete:hover {
    background-color: rgba(255, 0, 0, 0.7);
    transform: scale(1.1);
}

.td-img {
    width: 70px;
    padding-right: 10px;
}

.like-btn {
    font-size: 20px;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    border: none;
}

.liked i {
    color: red;
}

.like-comment-saved {
    margin: 0px 5%;
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
}

.like-comment-saved button {

    padding-right: 10px;
    background-color: white;
    width: 25%;
    padding: 7px 10px;
}

.number-of-like-and-comments {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.like-comment-saved button i {
    font-weight: 100;
}

.like-comment-saved button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.like-comment-saved span {
    font-family: 'Times New Roman', Times, serif;
}

.right-nav img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.right-nav div {
    margin: 20px 0px;
}

.right-nav a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1000px) {
    .right-nav {
        display: none;
    }
}

/* bonus */
.content-post iframe {
    width: 100%;
    /* height: 700px; */
}

.calendar-embedded {
    width: 100%;
    height: 900px;
    margin: 30px;
    border-radius: 10px;
    
}

.calendar-embedded iframe {
    height: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    
}

@media screen and (max-width: 1000px) {
    .calendar-embedded iframe {
        
        height: 500px;
    }
}

.input-edit-group{
    background-color: rgba(128, 128, 128, 0.18  );
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

.choose-group-item div a{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: block;
}
.choose-group-item div{
    padding: 0px;
}

.choose-group-item div a{
    padding: 10px;
}

.choose-group-item div a:hover{
background-color: rgba(215, 214, 214, 0.698);
border-radius: 10px;
}

.choose-group-item img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

