* {
    margin: 0px;
    padding: 0px;
}

.no-padding-margin {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(215, 214, 214, 0.556);
    padding-bottom: 70px;
}

@media screen and (max-width: 1000px) {
    .nav-search {
        margin: 15px 0px;
    }
}





.body-content {
    padding-top: 70px;
    width: 100%;

}



.modal-body {
    padding: 20px;
}

/* Input Style */
.modal-body input,
.modal-body textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Input Focus Style */
.modal-body input:focus,
.modal-body textarea:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

/* Textarea Style */
.modal-body textarea {
    resize: vertical;
}

/* Label Style */
.modal-body label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

/* Optional: Styling for the modal popup */
.event-create-pop-up {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}



.content-post {
    margin-top: 20px;
    margin-bottom: 15px;
}



.date-delete-update-icon {
    float: right;
}


.date-delete-update-icon a {
    margin-left: 20px;
    padding: 5px;

    background-color: rgba(128, 128, 128, 0.203);
}

.date-delete-update-icon a:hover {
    background-color: rgba(128, 128, 128, 0.538);
}

.date-delete-update label {
    font-weight: 700;
}

.date-delete-update input {
    margin-bottom: 15px;
}

.input-edit-group {
    background-color: rgba(128, 128, 128, 0.18);
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* .modal-body   {
height: 400px;
overflow-y: scroll;
} */
.button-save {
    text-align: right;
}

.showlist-title  h3{
    
    top: 12%;
    background-color: white;
    left: 1%;
    border-radius: 10px;
    padding: 15px 15px 10px 15px;
    box-shadow: 0 0 20px #0000006f;
    width: 200px;
    margin-left: 10px;
}

.showlist-title{
    position: fixed;
    margin-top: 40px;
}

@media screen and (max-width: 1100px) {
    .showlist-title {
        display: flex;
        justify-content: center;
        margin-top: -3px;
        z-index: 1;
    }
}